$top-bg:#F4F4F4;
$main-bg:#E5E5E5;
$main-color:#73962C;
$color-black: black;
$color-blue:#2268B4;
$color-span:#BDBDBE;
$color-white:white;
$color-gray:#515151;
$color-salt:#99C63C;
$color-light-red:#FF4545;
$color-light:#F3F3F3;
$footer-color:#26282C;
//.................
$breakpoint_xxl: 1120px;
$breakpoint_xl: 1024px;
$breakpoint_lg: 768px;
$breakpoint_md: 425px;
$breakpoint_sm: 375px;
$breakpoint_xs: 320px;
//................
$font-size-xss: 12px;
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 15px;
$font-size-xl: 17px;
$font-size-xxl: 28px;
//.................
$main-font: 'Lato',
sans-serif;